
<p>
  Article Name :
  <b><%= @article.name %></b>
</p>

<p>
  Topic :
  <b><%= @article.topic %></b>
</p>

<p>
  Designation :
  <b><%= @article.description %></b>
</p>


<%= link_to 'Edit', edit_user_article_path(@user,@article) %>


